*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --laranja: #f67b00;
    --branco: #dedede;
    --azul: #1b41da;
    --azulEscuro: #10226b;
    --preto: #000000;
}

body{
    background-color: var(--laranja)
}

a{
    color: var(--preto);
}

h1{
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    margin: 20px;
}

#container{
    color: var(--azulEscuro);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#lista{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
    text-transform: uppercase;
}

h2{
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 20px;
}

button{
    border: none;
    background-color: var(--laranja);
    cursor: pointer;
}

#sc{
    padding: 5px;
    background-color: var(--laranja);
    cursor: pointer;
}

#conta{
    padding: 5px;
    background-color: var(--branco);
    border-radius: 999px;
    text-transform: uppercase;
    margin-left: 45vw;
    margin-top: 50px;
}

#conta:hover{
    cursor: pointer;
    background-color: var(--azul);
    color: var(--branco);
    transform: scale(1.1);
    transition: all 200ms ease-in-out;
}