:root{
    --laranja: #f67b00;
    --branco: #dedede;
    --azul: #1b41da;
    --azulEscuro: #10226b;
    --preto: #000000;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*NavBar da ShowRoom*/

.nav-tabs{
    background-color: var(--azulEscuro);
}

/* Banner */
#s1{
    background-position: 20px;
    display: flex;
    align-items: end;
    justify-content: center;
    height: auto;
 
    /* width: auto; */
}


/* Fundo do banner */
#img-wrap-left{
    background: var(--laranja);
    min-height: 90vh;
    max-width: 110vh;
    /* box-shadow: inset -5px 0 20px var(--preto); */
}


#img-wrap-right{
    min-height: 90vh;
    max-width: 110vw;
    width: 80vw;
    background-image: url(../Assets/Frente-senai.jpg);
    background-repeat: no-repeat;
    background-size: 1000px;
   
}


/* Titulo banner */
#img-wrap-left h3{
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}


#img-wrap-right h3{
    text-align: center !important;
    justify-content: center;
    margin-top: 28px;
}
/* Texto da esquerda Banner */
#img-wrap-left p{
    font-family:sans-serif;
    text-align: center;
    margin-top: 50px;
    color: white;
    font-size: large;
}
/* Texto da direita Banner */
#img-wrap-right p{
    font-family:sans-serif;
    text-align: center;
    margin-left: 5%;
    color: white;
    font-size: large;
}


/* Cartão */
#s2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    min-height: 80vh;
    height: auto;
    margin-bottom: 15vh;
    margin-top: 15vh;
}
.card{
    background-color: var(--branco);
    width: 19rem;
    height: 450px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.wrap-img-card{
    display: flex;
    align-items: end;
    justify-content: center;
    margin-top: 80px;
 
}


.wrap-info-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: safe;
    text-align: justify;
    min-height: 200px;
    max-height: 200px;
}


.wrap-info-card h3{
  max-height:50px ;
  min-height: 50px;
  margin-top: 10px;
  text-align: center;
}

.cardButton{
    position: relative;
    background: var(--azul);
    color: var(--branco);
    font-family: sans-serif;
    letter-spacing: 0px;
    border-radius: 20px;
    border: 1px;
    margin-top: 20px;
    cursor: pointer;
    width: 200px;
    min-height: 30px;
    height: auto;
    transition: 500ms;
       
  }

.cardButton:hover{
    background: var(--azulEscuro);
    letter-spacing: 1px;
}

.iframe-container {
    display: none; 
    justify-content: center;
    align-self: center;
    top: 0;
    margin-top: 8%;
    margin-left: 30%;
    height: 600px;
    width: auto;
    min-width: 40vw;
    position: fixed;
    border: none;
    overflow: visible;
    top: 0;
    left: 0;
    background-color: transparent; 
}

#produtoInfo {
    display: block;
    width: 40vw;  /* 80% da largura da tela */
    height: 60vh; /* 80% da altura da tela */
    max-width: 500px;
    max-height: 700px;
    border: none;
    position: relative;
    /* z-index: 1001; */
}

#closeIframe {
    position: stat;
    top: 10px;
    background-color: var(--azulEscuro);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    height: 40px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1000000;
}

  /* Footer */
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--azulEscuro);
    min-height: 80px;
    box-shadow: var(--dark-blue) 0px 5px 15px;
    margin-top: auto;
}

footer img{
    width: 50px;
    transition: 500ms;
}

footer img:hover{
    width: 60px;
}


@media (width<800px){
    #s1{flex-direction: column;}
}